@model IEnumerable<MvcMusicStore.Models.Category>
@{
    ViewBag.Title = "Blog";
}

<h3>Browse Category</h3>

<p>
    Select from @Model.Count() category:</p>
<ul>
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(category.Name, "Browse", new { category = category.Name })</li>
    }
</ul>
