<?xml version="1.0"?>
<Configuration>
  <Performance>
    <MultyThread>false</MultyThread>
    <InhibitSessionForCrawlers>false</InhibitSessionForCrawlers>
    <DaysToKeepInCacheTheExternalPagesAcquired>30</DaysToKeepInCacheTheExternalPagesAcquired>
  </Performance>
  <Ambient>
    <DiskSpaceReservedGb>0</DiskSpaceReservedGb>
    <DiskSpacePreservedGb>0</DiskSpacePreservedGb>
    <SessionTimeOut>10</SessionTimeOut>
    <HtmlEditor>WysiwygNet</HtmlEditor>
  </Ambient>
  <ReportErrorsByEmail>
    <Enabled>true</Enabled>
    <ExcludeErrorHttp404>true</ExcludeErrorHttp404>
    <ExcludeError80070057>true</ExcludeError80070057>
  </ReportErrorsByEmail>
  <RenderingEngine>
    <TheLinkOfThumbnailsContainsAJumpToImagePosition>true</TheLinkOfThumbnailsContainsAJumpToImagePosition>
    <OnPageLoad>JumpToSectionTagsInPage</OnPageLoad>
    <EnablePdfVersion>
      <TopicsOfForum>false</TopicsOfForum>
      <Photos>false</Photos>
      <Pages>false</Pages>
    </EnablePdfVersion>
    <UploadImageResize>600</UploadImageResize>
    <UploadMaintainOriginalImage>true</UploadMaintainOriginalImage>
    <GeneralShowDefaultImageSize>600</GeneralShowDefaultImageSize>
    <GeneralSizeThumbnail>110</GeneralSizeThumbnail>
    <GeneralSizeImagePreview>300</GeneralSizeImagePreview>
    <InterlaceJpegImages>true</InterlaceJpegImages>
    <HideStatsCode>true</HideStatsCode>
    <HideModPlayer>true</HideModPlayer>
    <ImageCopyright>true</ImageCopyright>
    <FontCopyright>
      <Name>Arial</Name>
      <Size>20</Size>
      <TransparencyPercentage>20</TransparencyPercentage>
    </FontCopyright>
    <AddLinksDomains>false</AddLinksDomains>
    <HideLinksDomains>false</HideLinksDomains>
  </RenderingEngine>
  <Security>
    <DdosPrevention>
      <AntiAbnormalSimultaneousRequests>true</AntiAbnormalSimultaneousRequests>
      <DisableTheSourcesOfAbnormalHighTraffic>false</DisableTheSourcesOfAbnormalHighTraffic>
      <TemporarilyCrawlersStoppingDuringOverload>true</TemporarilyCrawlersStoppingDuringOverload>
      <LogEvents>false</LogEvents>
    </DdosPrevention>
    <DoNotOpenIframeOnSitesContainingMalware>true</DoNotOpenIframeOnSitesContainingMalware>
    <EnableProxyUsersToInteract>false</EnableProxyUsersToInteract>
    <MaxBannedCodeUser>20</MaxBannedCodeUser>
    <HoursEvaluationTimeNewUser>12</HoursEvaluationTimeNewUser>
    <BlockIPAddresses>Disabled</BlockIPAddresses>
    <QuorumToBlockUser>6</QuorumToBlockUser>
    <QuorumToCensored>6</QuorumToCensored>
    <DaysToWaitForTheExpirationOfTheAdmonition>6</DaysToWaitForTheExpirationOfTheAdmonition>
    <DaysRequiredForReadmissionBlockedUser>3</DaysRequiredForReadmissionBlockedUser>
    <OnlyLoggedUsersInChat>false</OnlyLoggedUsersInChat>
    <AuthenticateNewUsersThroughMicropayment>
      <Payment>
        <Currency>EUR</Currency>
        <Amount>0</Amount>
      </Payment>
      <DoNotAuthenticateUsersSubscribedToTheSitesWithTheForumId />
    </AuthenticateNewUsersThroughMicropayment>
  </Security>
  <SEO>
    <WWWSubdomine>Both</WWWSubdomine>
    <NoindexForDocumentsInArchive0>false</NoindexForDocumentsInArchive0>
    <GoogleOffGoogleOnTagsEnabled>true</GoogleOffGoogleOnTagsEnabled>
    <AddDescriptiveExifInfoToImages>true</AddDescriptiveExifInfoToImages>
    <MaintainsContentsInTheNewsListForDays>60</MaintainsContentsInTheNewsListForDays>
    <ForContentAcquiredFromExternalSourcesApplyTheTagGooglebotUnavailableAfterSettedToDays>60</ForContentAcquiredFromExternalSourcesApplyTheTagGooglebotUnavailableAfterSettedToDays>
    <GenerateSitemapDynamically>true</GenerateSitemapDynamically>
    <GenerateImagesSitemapDynamically>true</GenerateImagesSitemapDynamically>
    <AtGooglebotExcludeIndexedPagesInSitemap>true</AtGooglebotExcludeIndexedPagesInSitemap>
    <ChangeTheContentOfAggregatorsUsingSynonyms>true</ChangeTheContentOfAggregatorsUsingSynonyms>
    <PreventCrawlerArchivingOfContent>true</PreventCrawlerArchivingOfContent>
    <ShowContentAggregatorInThisHost>true</ShowContentAggregatorInThisHost>
    <EntrapUsersFromSearchEngines>true</EntrapUsersFromSearchEngines>
    <ErrorToBeUsedInCaseOfOverload>Error503</ErrorToBeUsedInCaseOfOverload>
    <TypeOfContextualLink>DoFollow</TypeOfContextualLink>
  </SEO>
  <UserInteract>
    <EnabledUsersToMakeSubPersonalPhotoAlbum>true</EnabledUsersToMakeSubPersonalPhotoAlbum>
  </UserInteract>
  <Contacts>
    <PhoneContacts />
  </Contacts>
  <Email>
    <SmtpPort>0</SmtpPort>
    <Email>
      <SmtpPort>25</SmtpPort>
    </Email>
    <EmailSupervisor>
      <SmtpPort>25</SmtpPort>
    </EmailSupervisor>
    <EmailFaxService>
      <SmtpPort>25</SmtpPort>
    </EmailFaxService>
  </Email>
  <Forum>
    <NPaginating>20</NPaginating>
    <MaxLengthReply>4000</MaxLengthReply>
    <RepliesForPages>20</RepliesForPages>
    <TopicsForPage>30</TopicsForPage>
  </Forum>
  <PaymentGateway>
    <EnabledOnlinePayment>false</EnabledOnlinePayment>
  </PaymentGateway>
  <Affiliations />
</Configuration>