@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
	ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("ValidateCommand", "PayPal"))
{
	<div>
		<table >
			<tr>
				<td>
					Nama Produk:
				</td>
				<td>
					<input type="text" name="product" value="Visual Studio 2013" readonly />
				</td>
			</tr>
			<tr>
				<td>
				   Jumlah Harga:
				</td>
				<td>
				   RM <input type="text" name="totalPrice" value="20.00" readonly />
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input type="submit" name="btnConfirm" value="Check Out Dengan Paypal" />
				</td>
			</tr>
		</table>
	</div>
}