<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
	<!-- A application-root relative path, which is resolved against the application root. 
		    Your application root may be http://www.yourdomain.com/applicationName
		    Please use single-backslash "\" for delimiter characters instead of "/" in the file/folder path
	    -->
	<add key="PROFILE_ROOT" value="workplace\users"></add>
	<add key="EDPANE_HOME" value="ogEditor\editorPane"></add>
        <add key="BUILD_PATH" value="ogEditor\build\firstTime.txt"></add>
	<add key="EDPANE_NAME" value="_ed.htm"></add>

	<!-- A site-root relative path, which is resolved against the site root. 
		    Your site root is http://www.yourdomain.com
		    Please use single-slash for delimiter character in the file path
	    -->
	<add key="EDJS_PATH" value="/ogEditor/js/ed.js"></add>
	<add key="EDCSS_PATH" value="/ogEditor/css/ed.css"></add>
	<add key="OGCONFIG_PATH" value="/ogEditor/vhplusConfig.js"></add>

	<add key="ACCEPT_FILE_EXTENSION" value=",.html,.htm,.css,.js,.xml,.txt,.php,.aspx,.asp,.jsp,.java,"></add>
        <add key="UPLOAD_FILE_EXTENSION" value=",.html,.htm,.css,.js,.xml,.txt,.jpg,.jpeg,.gif,.png,.mp4,.ogg,.webm,.mp3,.ogv,.wav,.php,.aspx,.asp,.jsp,.java,"></add>
	<add key="IMAGE_EXTNS" value=",.gif,.jpeg,.jpg,.png,"></add>
        <add key="MAXFILESIZE" value="2000000"></add>
    </appSettings>
    <system.web>
        <!-- below setting expand upload limit to 20MB -->
	<httpRuntime executionTimeout="240" maxRequestLength="20480" />
	<compilation debug="true"/>
	<globalization requestEncoding="utf-8" responseEncoding="utf-8" />	
        <pages validateRequest="false">
        </pages>
    </system.web>
</configuration>
