<title>{#title#}</title>
<meta name="keywords" content="{#keywords#}">
<meta name="description" content="{#description#}">
<table width="100%"  height=100% align="center" class='osnov' border="0"  cellpadding="0" cellspacing="0">
<tr  height=80>
<td class="stop" colspan=3 >
<!--top-->
<img src="images/logo.gif">
</td></tr>

<tr height=20><td colspan=3 class="zagolovok">
<h1 class='site'>&nbsp;{#zagolovok#}</h1>
</td></tr>
<tr height=20><td colspan=3 class="stopmenu">
{#menutop#}
</td></tr>
<tr>

<td class="sleft" width="0%">
<!--left-->
{#menuleft#}
</td>
<td class="scenter" align="center" width="100%">
<!--center-->
<br>
{#content#}
</td>
<td class="sright" width="0%">
<!--right-->
&nbsp;
</td>
</tr>
<tr>
<td colspan=3 class="sbottom">
<!--bottom-->
</td>
</tr>
</table>



