body {font-family : Verdana, Arial, Helvetica;
 margin: 0; text-align:center; color:#1C1C1C;
 background-color:#FFFFFF;}

h1{color:#333333; font-size:14px;}
h2{color:#1C1C1C; font-size:12px;font-weight:bold;margin:3px;}

hr{color:#333333}
td{ font-size:11px;font-family : Verdana, Arial, Helvetica; }
input {font-family : Verdana, Arial, Helvetica;font-size:11px;color:#1C1C1C; }
select {font-family : Verdana, Arial, Helvetica;font-size:11px; color:#1C1C1C;}
textarea{font-size:11px;font-family : Verdana, Arial, Helvetica;}
p{text-align:justify;}

table.osnov{background-color:#FFFFFF; border: collapse 0px;}

img.but_style {cursor:hand; color: #FFFFFF; background-color:#A50021; border:outset 1px}
input.but_style {cursor:hand; text-align:center;margin:1;font-weight:bold; font-size:11px; padding:1; color: #FFFFFF; background-color:#333333}
input.gp_style {text-align:center;color:#1C1C1C; }

td.strokaverh{ font-weight:bold; background-color:#FFFFFF; vertical-align: middle;height:30;color:#1C1C1C;}
table.strokaverh{}
select.but_style{}

td.strokatovarov {vertical-align:top; text-align:center;background-color:#FFFFFF; border:none} 
td.blocktovarov {vertical-align:top; text-align:center;background-color:#FFFFFF; border:none}
table.price {background-color:#FFFFFF;border:solid 1px #333333}

{заголовки таблицы}
td.zagolovki {background-color:#FFFFFF; color:#333333;text-align:center; font-weight:bold; height:30}

img.photo{border:none}

td.idnechet {color:#1C1C1C;vertical-align:middle;background-color:#FFFFFF; padding:5px;}
td.idchet {color:#1C1C1C;vertical-align:middle;background-color:#EAEAEA; padding:5px; }

td.add2nechet {color:#1C1C1C;vertical-align:middle;background-color:#FFFFFF; padding:5px;}
td.add2chet {color:#1C1C1C;vertical-align:middle;background-color:#EAEAEA; padding:5px; }

td.nazvannechet {color:#1C1C1C;vertical-align:middle;background-color:#FFFFFF; padding:5px;}
td.nazvanchet {color:#1C1C1C;vertical-align:middle;background-color:#EAEAEA; padding:5px; }
a.row {color:#1C1C1C;}
a.row:hover  {color:#A50021;}

td.infimgnechet { vertical-align:middle;text-align:center;  background-color:#FFFFFF; padding:5px;}
td.infimgchet { vertical-align:middle;text-align:center; background-color:#EAEAEA; padding:5px;}
img.inf_style {width:18;height:20}

td.cenanechet {color:#1C1C1C; vertical-align:middle;background-color:#FFFFFF; text-align:center; padding:5px;}
td.cenachet {color:#1C1C1C ; vertical-align:middle;background-color:#EAEAEA;text-align:center; padding:5px;}

td.kolvonechet {color:#1C1C1C ; text-align:center; vertical-align:middle;background-color:#FFFFFF; padding:5px;}
input.gk_stylenechet {color:#1C1C1C ;text-align:center; border:solid 1px #333333;background-color:#FFFFFF;width:50px;}
td.kolvochet {color:#1C1C1C ;  text-align:center; vertical-align:middle;background-color:#EAEAEA; padding:5px;}
input.gk_stylechet {color:#1C1C1C ;text-align:center; border:solid 1px #333333;background-color:#FFFFFF;width:50px;}

td.pmnechet { vertical-align:middle;background-color:#FFFFFF; padding:5px; }
input.pm_stylenechet {cursor:hand;background-color:#A50021; color:#FFFFFF; margin-left:1px;margin-right:1px; width:22px;}
td.pmchet { vertical-align:middle;background-color:#EAEAEA; padding:5px;}
input.pm_stylechet {cursor:hand; background-color:#A50021; color:#FFFFFF; margin-left:1px;margin-right:1px; width:22px;}

td.strokanavig {background-color:#FFFFFF;text-align:right;padding:5px}
td.strokasumma {border:solid 1px #333333;background-color:#EAEAEA;padding:5px; font-size:11px;}
input.summa {text-align:center;background-color:#FFFFFF; color:#1C1C1C; }

td.strokazakaz{}
table.zakaz{border-collapse: collapse; }
td.zakaztitle1{font-weight:bold;padding:5px;border:#333333 solid 1px;height:25; background-color:#333333; color:#FFFFFF; text-align:left;}
td.zakaztitle2{font-weight:bold;padding:5px;border:#333333 solid 1px;height:25; background-color:#333333; color:#FFFFFF; text-align:left;}
td.zakazleft{border:#333333 solid 1px;width:60%; padding:5px;}
td.zakazright{padding:10pt; vertical-align:top; font-style:italic}
table.dandost{}
input.gzak_style{width:200px; color:#1C1C1C; }
select.gzak_style{width:200px;color:#1C1C1C; }
span.req{color:red;}
td.clientinfo{width:200px}

table.desc { background-color:#FFFFFF;border: collapse solid 1px #333333;padding:10px;}
td.desc {padding:10px;background-color:#FFFFFF;border:0px none;color:#1C1C1C;}
div.desc{border:0px none #EAEAEA}

a.menu21 {font-weight:bold; color:#333333;  font-size:11px;}
a.menu21:hover {color:#A50021;  }
a.menu21act {font-weight:bold; color:#A50021;  font-size:11px;}
div.menu2 {margin:0pt;}
div.menu21 {margin:3pt;}
div.menu22 {margin:3pt; margin-left:15pt;} 


table.menu2 {border: collapse 0px; padding:0; }
td.menu2{padding:0; vertical-align:top;background-color:#FFFFFF; color:#333333; text-align:left; border:solid 0px #333333; }
table.menu21 {padding:0;  border:0px #333333; }
td.menu21{padding:5; vertical-align:top; color:#333333; text-align:left; }


table.smenu{border-collapse: collapse; padding:0;}
td.smenu {background-color:#EAEAEA; border:0px solid #EAEAEA;text-align:left;vertical-align:middle; COLOR: #333333; height:18px;padding:5px;padding-left:7px;font-size:11px; }
A.smenu { COLOR: #333333;  TEXT-DECORATION:none; FONT-WEIGHT: bold; padding:5px; background-color:#EAEAEA;}
A.smenu:hover {COLOR:#FFFFFF; TEXT-DECORATION:none; FONT-WEIGHT: bold; background-color:#333333;}
span.smenu { COLOR: #A50021;  TEXT-DECORATION:none; padding:5px;FONT-WEIGHT: bold;}

td.smenu2 {border:1px solid #EAEAEA;text-align:left;vertical-align:middle;background-color:#FFFFFF; COLOR: #333333; height:18px; padding:2px; padding-left:18px;font-size:11px; }
A.smenu2 { COLOR: #333333; TEXT-DECORATION:none;  }
A.smenu2:hover {COLOR:#FFFFFF; TEXT-DECORATION:none; }

td.zagolovok{height:24px; background-color:#333333; text-align:left; vertical-align:middle}
h1.site {TEXT-DECORATION: none; FONT-WEIGHT: bold; color:#FFFFFF; font-size:11px; margin:0; padding:1pt; }

td.stop{}
td.stopmenu{background-color:#EAEAEA;height:18px;}
td.linewhite{height:1px; background-color:#FFFFFF; text-align:center;}
td.linered{height:2px; background-color:#A50021; text-align:center;}
td.sleft{ vertical-align:top; background-color:#FFFFFF; }
td.scenter{vertical-align:top; background-color:#FFFFFF; }
td.sright{width:0pt; vertical-align:top;background-color:#FFFFFF; }
td.sbottom{height:20px; text-align:right; vertical-align:middle;background-color:#FFFFFF; }
td.sbottom2{background-color:#FFFFFF; text-align:right; vertical-align:middle}

