body {font-family : Verdana, Arial, Helvetica;
 margin: 0; text-align:center; color:#color5#;
 background-color:#color1#;}

h1{color:#color4#; font-size:14px;}
h2{color:#color5#; font-size:12px;font-weight:bold;margin:3px;}

hr{color:#color4#}
td{ font-size:11px;font-family : Verdana, Arial, Helvetica; }
input {font-family : Verdana, Arial, Helvetica;font-size:11px;color:#color5#; }
select {font-family : Verdana, Arial, Helvetica;font-size:11px; color:#color5#;}
textarea{font-size:11px;font-family : Verdana, Arial, Helvetica;}
p{text-align:justify;}

table.osnov{background-color:#color1#; border: collapse 0px;}

img.but_style {cursor:hand; color: #color1#; background-color:#color3#; border:outset 1px}
input.but_style {cursor:hand; text-align:center;margin:1;font-weight:bold; font-size:11px; padding:1; color: #color1#; background-color:#color4#}
input.gp_style {text-align:center;color:#color5#; }

td.strokaverh{ font-weight:bold; background-color:#color1#; vertical-align: middle;height:30;color:#color5#;}
table.strokaverh{}
select.but_style{}

td.strokatovarov {vertical-align:top; text-align:center;background-color:#color1#; border:none} 
td.blocktovarov {vertical-align:top; text-align:center;background-color:#color1#; border:none}
table.price {background-color:#color1#;border:solid 1px #color4#}

{заголовки таблицы}
td.zagolovki {background-color:#color1#; color:#color4#;text-align:center; font-weight:bold; height:30}

img.photo{border:none}

td.idnechet {color:#color5#;vertical-align:middle;background-color:#color1#; padding:5px;}
td.idchet {color:#color5#;vertical-align:middle;background-color:#color2#; padding:5px; }

td.add2nechet {color:#color5#;vertical-align:middle;background-color:#color1#; padding:5px;}
td.add2chet {color:#color5#;vertical-align:middle;background-color:#color2#; padding:5px; }

td.nazvannechet {color:#color5#;vertical-align:middle;background-color:#color1#; padding:5px;}
td.nazvanchet {color:#color5#;vertical-align:middle;background-color:#color2#; padding:5px; }
a.row {color:#color5#;}
a.row:hover  {color:#color3#;}

td.infimgnechet { vertical-align:middle;text-align:center;  background-color:#color1#; padding:5px;}
td.infimgchet { vertical-align:middle;text-align:center; background-color:#color2#; padding:5px;}
img.inf_style {width:18;height:20}

td.cenanechet {color:#color5#; vertical-align:middle;background-color:#color1#; text-align:center; padding:5px;}
td.cenachet {color:#color5# ; vertical-align:middle;background-color:#color2#;text-align:center; padding:5px;}

td.kolvonechet {color:#color5# ; text-align:center; vertical-align:middle;background-color:#color1#; padding:5px;}
input.gk_stylenechet {color:#color5# ;text-align:center; border:solid 1px #color4#;background-color:#color1#;width:50px;}
td.kolvochet {color:#color5# ;  text-align:center; vertical-align:middle;background-color:#color2#; padding:5px;}
input.gk_stylechet {color:#color5# ;text-align:center; border:solid 1px #color4#;background-color:#color1#;width:50px;}

td.pmnechet { vertical-align:middle;background-color:#color1#; padding:5px; }
input.pm_stylenechet {cursor:hand;background-color:#color3#; color:#color1#; margin-left:1px;margin-right:1px; width:22px;}
td.pmchet { vertical-align:middle;background-color:#color2#; padding:5px;}
input.pm_stylechet {cursor:hand; background-color:#color3#; color:#color1#; margin-left:1px;margin-right:1px; width:22px;}

td.strokanavig {background-color:#color1#;text-align:right;padding:5px}
td.strokasumma {border:solid 1px #color4#;background-color:#color2#;padding:5px; font-size:11px;}
input.summa {text-align:center;background-color:#color1#; color:#color5#; }

td.strokazakaz{}
table.zakaz{border-collapse: collapse; }
td.zakaztitle1{font-weight:bold;padding:5px;border:#color4# solid 1px;height:25; background-color:#color4#; color:#color1#; text-align:left;}
td.zakaztitle2{font-weight:bold;padding:5px;border:#color4# solid 1px;height:25; background-color:#color4#; color:#color1#; text-align:left;}
td.zakazleft{border:#color4# solid 1px;width:60%; padding:5px;}
td.zakazright{padding:10pt; vertical-align:top; font-style:italic}
table.dandost{}
input.gzak_style{width:200px; color:#color5#; }
select.gzak_style{width:200px;color:#color5#; }
span.req{color:red;}
td.clientinfo{width:200px}

table.desc { background-color:#color1#;border: collapse solid 1px #color4#;padding:10px;}
td.desc {padding:10px;background-color:#color1#;border:0px none;color:#color5#;}
div.desc{border:0px none #color2#}

a.menu21 {font-weight:bold; color:#color4#;  font-size:11px;}
a.menu21:hover {color:#color3#;  }
a.menu21act {font-weight:bold; color:#color3#;  font-size:11px;}
div.menu2 {margin:0pt;}
div.menu21 {margin:3pt;}
div.menu22 {margin:3pt; margin-left:15pt;} 


table.menu2 {border: collapse 0px; padding:0; }
td.menu2{padding:0; vertical-align:top;background-color:#color1#; color:#color4#; text-align:left; border:solid 0px #color4#; }
table.menu21 {padding:0;  border:0px #color4#; }
td.menu21{padding:5; vertical-align:top; color:#color4#; text-align:left; }


table.smenu{border-collapse: collapse; padding:0;}
td.smenu {background-color:#color2#; border:0px solid #color2#;text-align:left;vertical-align:middle; COLOR: #color4#; height:18px;padding:5px;padding-left:7px;font-size:11px; }
A.smenu { COLOR: #color4#;  TEXT-DECORATION:none; FONT-WEIGHT: bold; padding:5px; background-color:#color2#;}
A.smenu:hover {COLOR:#color1#; TEXT-DECORATION:none; FONT-WEIGHT: bold; background-color:#color4#;}
span.smenu { COLOR: #color3#;  TEXT-DECORATION:none; padding:5px;FONT-WEIGHT: bold;}

td.smenu2 {border:1px solid #color2#;text-align:left;vertical-align:middle;background-color:#color1#; COLOR: #color4#; height:18px; padding:2px; padding-left:18px;font-size:11px; }
A.smenu2 { COLOR: #color4#; TEXT-DECORATION:none;  }
A.smenu2:hover {COLOR:#color1#; TEXT-DECORATION:none; }

td.zagolovok{height:24px; background-color:#color4#; text-align:left; vertical-align:middle}
h1.site {TEXT-DECORATION: none; FONT-WEIGHT: bold; color:#color1#; font-size:11px; margin:0; padding:1pt; }

td.stop{}
td.stopmenu{background-color:#color2#;height:18px;}
td.linewhite{height:1px; background-color:#color1#; text-align:center;}
td.linered{height:2px; background-color:#color3#; text-align:center;}
td.sleft{ vertical-align:top; background-color:#color1#; }
td.scenter{vertical-align:top; background-color:#color1#; }
td.sright{width:0pt; vertical-align:top;background-color:#color1#; }
td.sbottom{height:20px; text-align:right; vertical-align:middle;background-color:#color1#; }
td.sbottom2{background-color:#color1#; text-align:right; vertical-align:middle}
