@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
hi world!!!
<section id="donate" class="donate-section">
		<div class="container">
			<h2>Donate</h2>
			<p>
				Lightbox is 100% free to use. If you're using Lightbox on a commercial project and feeling generous, consider a donation. Thanks!
			</p>
			<form class="donate-button-form" name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<fieldset>
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="admin@zulldesign.ml">
					<input type="hidden" name="item_name" value="Donation for Lightbox">
					<input type="hidden" name="no_note" value="1">
					<input type="hidden" name="currency_code" value="MYR">
					<input type="hidden" name="tax" value="0">
					<input type="hidden" name="bn" value="PP-DonationsBF">
					<input type="submit" name="submit" class="button donate-button" value="Donate using Paypal" alt="Make payments with PayPal - it's fast, free and secure!">
				</fieldset>
			</form>
		</div>
	</section>
