@model MvcMusicStore.Models.Kategori

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Kategori</legend>

    <div class="display-label">Nama</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nama)
    </div>

    <div class="display-label">Penerangan</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Penerangan)
    </div>
</fieldset>
<p>    
    @Html.ActionLink("Back to List", "Index")
</p>
