@{
  ViewBag.Title = "About";
}

<article class="intro">
  <h3>About</h3>
</article>
<div>
  <h4>This is an app created from MVC Facebook Template.</h4>
  <b>Author: <a target="_blank" href="https://www.facebook.com/yaohl">Yao Huang Lin</a></b>
</div>