
#ogEditor_container h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,table,th,td{
	margin: 0;
	padding: 0;
}
#ogEditor_container{
background-color:#222;
font-family:Arial;
font-size:11px;
margin: 0; padding: 0;
border:1px solid #222;
background-image: url("../img/ogeditor_logo.png");
background-repeat:no-repeat;
/*position:relative;*/
/*display: block;  
clear: both;  */
}
#ogEditor_container .navigation{
text-align:center;
}
/* inline elements*/
#ogEditor_container img {
	border: 0;
	vertical-align: bottom;
}
div.ogEditor_fmanager_title input,
div.ogEditor_fmanager_title a{
display:table-cell;
/display:inline;
/zoom:1;
vertical-align:middle;
margin:0;
}
input.dirPathBox{
width:180px;
height:16px;
display:table-cell;
vertical-align:middle;
padding: 0 2px 0 20px;
background-image:url("../img/buttons/icon_folder.gif");
background-repeat:no-repeat;
background-position: 2px 2px;
/*font-size:90%;*/
font-size: 8pt; 
border:1px solid gray;
}
.ogEditor_fmanager_title
{
FONT-FAMILY: Arial ;
FONT-SIZE: x-small;
}

#ogEditor_divTName{
padding-left:5px;
padding-right:3px;
float:left;
vertical-align:middle;
/*FONT-FAMILY:monospace;
font-size:x-small;*/
}
#ogEditor_modebar{
background-color:#eeeeee;
/*border-top:1px solid ThreeDHighlight;
vertical-align:middle;*/
border-left:0px;
border-bottom:1px solid ThreeDShadow;
border-right:0px;
overflow:hidden;
height:22px;
top : 0px;
left: 0px; 
}

#ogEditor_modebar ul{
    list-style-type:none;
    left:0px;
}

#ogEditor_modebar ul li.imgBtn{
    width: 22px;
	float:left;

}
#ogEditor_modebar ul li.ddlLiOn{
    /*width: 90px;*/
    padding:2px 3px 0px 0px;
	float:left;
}
#ogEditor_modebar ul li.ddlLiOff{
    /*width: 90px;*/
    padding:2px 3px 0px 0px;
	float:left;
}
#ogEditor_modebar ul li.btn{
    width: 55px;
	float:left;

}
#ogEditor_modebar ul li.btn input{
    width: 55px;
	margin:auto 0;
}

#ogEditor_toolbar ul li.ogEditor_modeBtns input{
    width: 55px;
	margin:auto 0;
}
#ogEditor_toolbar ul{
    list-style-type:none;
    left:0px;
    height:25px;
}

#ogEditor_toolbar ul li{
    width: 22px;
	float:left;
	margin:1px 2px 1px 0px;
	/*margin-right: 1px;*/
}
#ogEditor_toolbar ul li.liSep{
	width: 22px;
	float:left;
	margin:1px 0px 1px 0px;
}
#ogEditor_toolbar ul li a{
    display : block ;
    /*width : 100px ;
    height : 100px ;*/
    background-repeat : no-repeat ;
    background-position : center center ;
    
}
#ogEditor_toolbar ul li.liActive a:link img{
    border: 1px solid buttonface; 
    margin:0; 
    padding:0;
}

#ogEditor_toolbar ul li.liActive a:visited img{
    border: 1px solid buttonface; 
    margin:0; 
    padding:0;
}

#ogEditor_toolbar ul li.liActive a:hover img{
	background-color:#C6C2E2;
    border:1px solid #444444;
}

#ogEditor_toolbar ul li.liOn a img{
	background-color:#C6C2E2;
    border:1px solid #444444;
}

#ogEditor_toolbar ul li.liActive a:active img{
	background-color:#a6a2a2;
    border:1px solid #444444;
}
#ogEditor_toolbar ul li.liInactive a img{
    cursor: default;
    border: 1px solid buttonface; 
    margin:0; 
    padding:0;
    opacity : 0.4;
    filter: alpha(opacity=40); // msie 
}

/* or */

#ogEditor_toolbar ul li.liInactive {
    cursor: default;
    opacity : 0.4;
    filter: alpha(opacity=40); // msie 
    background-color: #000;
}
#ogEditor_toolbar{
background-color:#eeeeee;
/*border-top:1px solid ThreeDHighlight;*/
border-left:0px;
border-bottom:1px solid ThreeDShadow;
border-top:1px solid #777;
border-right:0px;
overflow:hidden;
width:100%;
/*height:22px;*/
top : 0px;
left: 0px; 
}
#ogEditor_container IMG.simple 
{
	VERTICAL-ALIGN: bottom; 
}
#ogEditor_container IMG.button_out {
	border: 1px solid buttonface; margin:0; padding:0;
}

#ogEditor_container IMG.button_over 
{
	background-color:#C6C2E2;
}
#ogEditor_container IMG.button_down 
{
	background-color:#a6a2a2;
}
#ogEditor_fmain{
position:relative;
clear:both;
}

#ogEditor_editScene{
background-color:#eeeeee;
border-top:1px solid ThreeDHighlight;
border-left:1px solid ThreeDHighlight;
border-bottom:1px solid ThreeDShadow;
border-right:1px solid ThreeDShadow;
overflow:hidden;
position:absolute;
top : 0px;
left: 0px; 
}

#ogEditor_vLine { 
background-color:#eeeeee;
border-top:1px solid ThreeDHighlight;
border-left:1px solid ThreeDHighlight;
border-bottom:1px solid ThreeDShadow;
border-right:1px solid ThreeDShadow;
width:5px;
overflow:hidden;
position:absolute;
top : 0px;
cursor: E-resize;
}

#ogEditor_fManager{
background-color:#eeeeee;
border-top:1px solid ThreeDHighlight;
border-left:1px solid ThreeDHighlight;
border-bottom:1px solid ThreeDShadow;
border-right:1px solid ThreeDShadow;
overflow:hidden;
position:absolute;
top : 0px;
}
 
#ogEditor_hLine { 
background-color:#eeeeee;
border-top:1px solid ThreeDHighlight;
border-left:1px solid ThreeDHighlight;
border-bottom:1px solid ThreeDShadow;
border-right:1px solid ThreeDShadow;
height:5px;
position:absolute;
overflow:hidden;
cursor: S-resize;
}

#ogEditor_cssEditor{
background-color:#eeeeee;
border-top:1px solid ThreeDHighlight;
border-left:1px solid ThreeDHighlight;
border-bottom:1px solid ThreeDShadow;
border-right:1px solid ThreeDShadow;
overflow:hidden;
position:absolute;
}
/*
td {
vertical-align: top;
}
*/
#ogEditor_slider #slider-stage{
	width:100%;
	overflow-x:hidden;
	overflow-y:hidden;
	height:21px;
	position:relative;
	
	float:left;
}

#ogEditor_slider #slider-bottons{
    
    float:right;
    height:21px;
    width:40px;
}
/*
#location{
	border-left:20px;
	height:10px;
}
*/
/*
#tree-path{
	float:left;
}
#tree-bottons{
    float:right;
}
*/
/*
#previous{
    margin-left:5px;
}

#next{
    margin-left:3px;
}
*/
#ogEditor_editor{
	background-color:#ffffff;
	overflow:hidden;
	border:0px;
	/*position:relative;*/
	/*top:0px;*/
}
#ogEditor_slider{
	background-color:#eeeeee;
	border-bottom:1px solid ThreeDShadow;
	height:21px;
}
#ogEditor_slider #slider-list{
    height:20px;
    list-style-type:none;
    /*font-size:90%;*/
    font-size: 9pt; 
	position:absolute;
	top:1px;
	width:2000px;
	left:0px;
}

#ogEditor_slider #slider-list li{
    width: 155px;
	float:left;
	/*margin-right: 1px;*/
}
#ogEditor_slider #slider-list li a {
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	color: #000000;
	border: 2px solid #777;
	background-color: #ffffff;
	
	cursor: default;
	display: block;
	float: left;
	width: 150px;
	height: 20px;
	margin-right: 1px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	/*font-size:x-small;*/
	font-size: 9pt; 
	/*background-color: #0A8B91;*/
}
#ogEditor_slider #slider-list li a.linkTail {
	background-color: #cccccc;
	border: 2px solid #aaaaaa;
	color: #FFFFFF;
	
	cursor: pointer;
	display: block;
	float: left;
	width: 150px;
	height: 20px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
}

#ogEditor_slider #slider-list li a.linkTail:hover {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	color: #FFFFFF;
	border: 2px solid #333333;
	background-color: #333333;
	
	cursor: pointer;
}

#ogEditor_slider #slider-list li a.linkTail:active { 
	/*background-color: #aaaaaa;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	color: #FFFFFF;
	border: 2px solid #333333;
	background-color: #333333;
}
#ogEditor_slider #slider-list li img {
	float: left;
}
.ogEditFrame{
	/*border:1px solid gray; */
	width:100%;
	height:100%;
}
/*
.source {
	padding:0; 
	margin:0;
	overflow:auto; 
	font-family:monospace; 
	font-size: 9pt; 
	border:0px; 
	width:100%; 
	height:100%;
}
.print{
	overflow:auto; 
	font-family:monospace; 
	font-size: 9pt; 
	border:1px solid gray; 
	width:800px; 
	height:150px;
}
*/

div.cssClassDisp{
width:100%;
height:12px;
padding: 2px 2px 2px 20px;
background-image:url("../img/buttons/icon_eye.gif");
background-repeat:no-repeat;
background-position: 2px 3px;
background-color:#fff;
/*font-size:90%;*/
font-size: 8pt; 
border:1px solid gray;
}
#footer{
	background-color:#aaaaaa;
	border-top:1px solid ThreeDHighlight;
	border-left:1px solid ThreeDHighlight;
	border-bottom:1px solid ThreeDShadow;
	border-right:1px solid ThreeDShadow;
	overflow:hidden;
	height:5px;
}
.order {
 position: relative;
 top: -27px;
 left: -4px;
}
a.arrowLeft {
   display: block;
   width:23px;
   height:20px;
   /*text-indent: -1000px;*/ /* 文字を見えなくする */
   background-image: url("../img/arrow1.off.gif"); /* 画像ファイル名 */
}
a.arrowLeft:active {
   
   background-image: url("../img/arrow1.on.gif"); /* 画像ファイル名 */
}
a.arrowRight {
   display: block;
   width:23px;
  /* text-indent: -1000px;*/ /* 文字を見えなくする */
   background-image: url("../img/arrow2.off.gif"); /* 画像ファイル名 */
}
a.arrowRight:active {
   
   background-image: url("../img/arrow2.on.gif"); /* 画像ファイル名 */
}
/* clerfix */
.clearfix:after {
    /*content:"";
    display:block;
    overflow:hidden;*/
    display:block;
    clear:both;
    height:0;
    line-height:0;
    visibility:hidden;
    content: ".";
    /*font-size: 0.1em;*/
    font-size: 9pt; 
}

.clearBoth {
    clear:both;
}

.clearfix {
    /*zoom:1;*/
    display: inline-block;
}
/* Hide Mac IE \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }


.ddlLiOn div label{
    cursor: pointer;
    margin:0; 
    padding:0;
}

.ddlLiOn div p img{
    cursor: pointer;
    border: 0; 
    margin:0; 
    padding:0;
}

.ddlLiOff div label{
    cursor: default;
    margin:0; 
    padding:0;
    opacity : 0.4;
    filter: alpha(opacity=40); // msie 
}

.ddlLiOff div p img{
    cursor: default;
    border: 0; 
    margin:0; 
    padding:0;
    opacity : 0.4;
    filter: alpha(opacity=40); // msie 
}

.ddlmenu p{
display: inline-block;
float:right;
background-color: #eeeeee; 
border-left: 1px solid #777777;
padding:0px;
margin:0px;
height:100%;
cursor:pointer;
}
.ddlmenuOn p{
display: inline-block;
float:right;
background-color: #eeeeee; 
border-left: 1px solid #3333ff;
padding:0px;
margin:0px;
height:100%;
cursor:pointer;
}
.ddlmenu{
display: inline-block;
border: 1px solid #777777; 
background-color: #ffffff; 
padding:0 0 0 4px;
margin:0px;
overflow:hidden;
height:18px;
/*width:115px;*/
font-size: 9pt; 
font-family: Arial, Helvetica, sans-serif;
}
.ddlmenuOn{
display: inline-block;
border: 1px solid #3333ff; 
background-color: #ffffff; 
padding:0 0 0 4px;
margin:0px;
overflow:hidden;
height:18px;
/*width:115px;*/
font-size: 9pt; 
font-family: Arial, Helvetica, sans-serif;
}
.ddlcontainer{
border-left: 1px solid #777777; 
border-right: 1px solid #777777; 
border-bottom: 1px solid #777777; 
border-top: 0px; 
padding:0px;
margin:0px;
overflow-y:auto;
overflow-x:hidden;
height:100px;
position: absolute;
top : 0px;
left: 0px; 
width:160px;
z-index:99000;
visibility:hidden;
}
.ogContextDDList {
    width:100%;
    /*position: absolute; */
    border:0px;
    background-color: #ffffff; 
    opacity : 0.9;
    filter: alpha(opacity=90); // msie 
    display: block; 
    padding: 0px;
    margin:0px;
}

.ddloption {
	width:100%;
    cursor: pointer; 
    font-size: 9pt; 
    font-family: Arial, Helvetica, sans-serif; 
    color: black; 
    padding: 2px 0px;
    /*border-bottom: 1px solid #aaaaaa;*/
    background-color: #ffffff; 
    /*opacity : 0.8;
    filter: alpha(opacity=90); // msie */
    text-decoration: none;
    /*height: 18px;*/
    display: block; 
    
}
.ddloptionOn {
	width:100%;
    cursor: pointer; 
    font-size: 9pt; 
    font-family: Arial, Helvetica, sans-serif; 
    color: white; 
    padding: 2px 0px;
    /*border-bottom: 1px solid #aaaaaa;*/
    background-color: #444444; 
    /*opacity : 0.6;
    filter: alpha(opacity=90); // msie */
    text-decoration: none;
    /*height: 18px;*/ 
    display: block; 
}
.lblForOgDDList{
	display: inline-block;
	width:75%;
	margin:0px 0px 0px 0px;
	cursor:pointer;
	float:left;
}
.spanForOgDDList{
	display: inline-block;
	width:100%;
	margin:0px 0px 0px 4px;
	cursor:pointer;
}
.loadingDiv{
	background-color:#fff;
	z-index:1;
	position:absolute;
}
div.ogTempArea{
	width:400px;
}
div.ogTempArea div.ogTempBox{
	float: left;
	width:180px;
	height:160px;
	margin:0 0 5px 5px;
	padding: 4px;
	border:1px solid #2b2b35;
	background-color:#010014;
	color:#fff;
}