@{
    ViewBag.Title = "RedirectFromPaypal";
}

<h2>RedirectFromPaypal</h2>
<p>Sila menggunakannya untuk pengesahan spesifikasi operasi dan penggunaan pengawal mikro etc.</p>
<h2>Windows Program Update</h2>
<p>Laman ini memperkenalkan contoh program.<br>Windows 8 Pro atau UJEEKME33JJDES3GEW6XF3NU(SERIAL KEYS) diperlukan untuk menggunakan program-program di bawah. </p>
<head>
<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid lightgrey;
}
</style>
</head>
<body>
<table>
  <tr>
    <th>Windows 8 Pro 32 Bit (x86):-</th>
    <th>File</th>
  </tr>
  <tr>
    <td>Windows 8 Pro Links 1 </td>
    <td><img class="Windows 8 Pro" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://windows.microsoft.com/en-MY/windows/downloads">Windows 8 Pro.exe</a> [957KB]</td>
  </tr>
  <tr>
    <td>Windows 8 Pro Links 2 </td>
    <td><img class="Windows 8 Pro" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://windows.microsoft.com/en-MY/windows/downloads">Windows 8 Pro.exe</a> [852KB]</td>
  </tr>
  <tr>
    <td>Windows 8 Pro Links 3 </td>
    <td><img class="Windows 8 Pro" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://windows.microsoft.com/en-MY/windows/downloads">Windows 8 Pro.exe</a> [1.5GB]</td>
  </tr>
  <tr>
    <th>SERIAL NUMBER</th>
    <th>SERIAL KEYS</th>
  </tr>
  <tr>
    <td>Windows 8 Professional Serial Keys:</td>
    <td><img class="Windows 8 Pro" src="/Images/icon-download.gif" alt="" height="16" width="16"> XKY4K-2NRWR-8F6P2-448RF-CRYQH </td>
  </tr>  
  <tr>
    <td>Windows 8 Professional Serial Keys:</td>
    <td><img class="Windows 8 Pro" src="/Images/icon-download.gif" alt="" height="16" width="16"> 6MJT4-YXD6N-GW9YJ-YMMRJ-7FPM3 </td>
  </tr>
  <tr>
    <td>Windows 8 Professional Serial Keys:</td>
    <td><img class="Windows 8 Pro" src="/Images/icon-download.gif" alt="" height="16" width="16"> NG4HW-VH26C-733KW-K6F98-J8CK4 </td>
  </tr>
  <tr>
    <td>Windows 8 Professional Serial Keys:</td>
    <td><img class="Windows 8 Pro" src="/Images/icon-download.gif" alt="" height="16" width="16"> TK8TP-9JN6P-7X7WW-RFFTV-B7QPF </td>
  </tr>
  <tr>
    <td>Windows 8 Professional Serial Keys:</td>
    <td><img class="Windows 8 Pro" src="/Images/icon-download.gif" alt="" height="16" width="16"> 6MJT4-YXD6N-GW9YJ-YMMRJ-7FPM3 </td>
  </tr>
</table>
</body>
