@{
    ViewBag.Title = "File Upload in MVC3 By Using Razor and Preview Uploaded File";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
    <b><u>File Upload in MVC3 By Using Razor</u></b><br />
        Select Image
        <input type="file" name="file" />&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Upload Image" name="Command" /><br />
        Preview:<br />
        <img src="@ViewBag.ImageURL" width="200px" height="200px" />
    </div>
    <div>
    @ViewBag.Message
    </div>
}