@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("ValidateCommand", "FBJVC3CMTXD8DVPRTQCT92494"))
{
    <div>
        <table >
            <tr>
                <td>
                    Product Name:
                </td>
                <td>
                    <input type="text" name="product" value="Microsoft Visual Studio 2012 Ultimate Product Keys" readonly />
                </td>
            </tr>
            <tr>
                <td>
                   Total Price:
                </td>
                <td>
                   RM <input type="text" name="totalPrice" value="40,360.90" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    Product Key:
                </td>
                <td>
                    <img src="/Images/Visual-Studio-2012.jpg" alt="Microsoft-Office-professional-plus-2013-official" width="640" height="391">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="btnConfirm" value="MICROSOFT VISUAL STUDIO 2012 ULTIMATE PRODUCT SERIAL KEYS" />
                </td>
            </tr>
        </table>
    </div>
}
<p>Please use it for the confirmation of the operation specification and the use of our microcontroller etc.</p>
<h2 class="accent010">Sample Program download</h2>
<p>This page introduces sample programs.<br>ARM MDK-ARM or IAR EWARM is required to use programs below. </p>
<table class="standard" summary=" " style="width:100%" cellpadding="5" cellspacing="0"><caption></caption><thead><tr><th align="center">Function</th>
<th align="center">File</th></tr></thead>
<tbody><tr><th align="center">Peripheral Driver Library</th>
<td><img class="vmiddle bordernone" src="Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/downloads/mb9bfxxx-pdl-v12.zip&amp;ec=Family&amp;et=FM4">mb9bfxxx-pdl-v12.zip</a> [25MB] </td></tr>
<tr><th align="center">MB9B160R series Template Project</th>
<td><img class="vmiddle bordernone" src="Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/EnglishDownloads/EDG/binary/zip/product/micom/support/sample/fm4/mb9bf16xr_template-v15.zip&amp;ec=Series&amp;et=MB9B160R">mb9bf16xr_template-v15.zip</a> [334KB] </td></tr>
<tr><th align="center">MB9B360R series Template Project</th>
<td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/EnglishDownloads/EDG/binary/zip/product/micom/support/sample/fm4/mb9bf36xr_template-v15.zip&amp;ec=Series&amp;et=MB9B360R">mb9bf36xr_template-v15.zip</a> [341KB] </td></tr>
<tr><th align="center">MB9B460R series Template Project</th>
<td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/EnglishDownloads/EDG/binary/zip/product/micom/support/sample/fm4/mb9bf46xr_template-v15.zip&amp;ec=Series&amp;et=MB9B460R">mb9bf46xr_template-v15.zip</a> [345KB] </td></tr>
<tr><th align="center">MB9B560R series Template Project</th>
<td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/EnglishDownloads/EDG/binary/zip/product/micom/support/sample/fm4/mb9bf56xr_template-v15.zip&amp;ec=Series&amp;et=MB9B560R">mb9bf56xr_template-v15.zip</a> [353KB] </td></tr>
<tr><th align="center">MB9B160L series Template Project</th>
<td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/EnglishDownloads/EDG/binary/zip/product/micom/support/sample/fm4/mb9bf16xl_template-v12.zip&amp;ec=Series&amp;et=MB9B160L">mb9bf16xl_template-v12.zip</a> [292KB] </td></tr>
<tr><th align="center">MB9B360L series Template Project</th>
<td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/EnglishDownloads/EDG/binary/zip/product/micom/support/sample/fm4/mb9bf36xl_template-v12.zip&amp;ec=Series&amp;et=MB9B360L">mb9bf36xl_template-v12.zip</a> [299KB] </td></tr>
<tr><th align="center">MB9B460L series Template Project</th>
<td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/EnglishDownloads/EDG/binary/zip/product/micom/support/sample/fm4/mb9bf46xl_template-v12.zip&amp;ec=Series&amp;et=MB9B460L">mb9bf46xl_template-v12.zip</a> [300KB] </td></tr>
<tr><th align="center">MB9B560L series Template Project</th>
<td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/EnglishDownloads/EDG/binary/zip/product/micom/support/sample/fm4/mb9bf56xl_template-v12.zip&amp;ec=Series&amp;et=MB9B560L">mb9bf56xl_template-v12.zip</a> [301KB] </td></tr>
<tr><th align="center">S6E2CC series Template Project</th>
<td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/downloads/s6e2cc-series.zip&amp;ec=Series&amp;et=S6E2CC">s6e2cc-series.zip</a> [319KB] <br>Version: 1.0</td></tr>
<tr><th align="center">Measure a PWM duty cycle with an external interrupt and systick timer</th>
<td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/downloads/mb9bf56xr_bt0_extint_systick.zip&amp;ec=Family&amp;et=FM4 Family">mb9bf56xr_bt0_extint_systick.zip</a> [319KB]</td></tr>
<tr><th align="center">Measure a PWM duty cycle with an base timer in PWC mode</th>
<td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/downloads/mb9bf56xr_bt0_pwm_bt1_pwc.zip&amp;ec=Family&amp;et=FM4 Family">mb9bf56xr_bt0_pwm_bt1_pwc.zip</a> [318KB]</td></tr>
<tr><th align="center">Measure a PWM duty cycle with an input capure unit</th>
<td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/downloads/mb9bf56xr_bt0_pwm_icu00.zip&amp;ec=Family&amp;et=FM4 Family">mb9bf56xr_bt0_pwm_icu00.zip</a> [318KB]</td></tr></tbody></table>
</div>
				  </div>
				</div>
			</div>
		

						
						
						
						
						
						
						</td>
					</tr>
					</tbody></table>
			</td>
			<td id="_invisibleIfEmpty" name="_invisibleIfEmpty" class="right-wp-zone" height="100%" valign="top" width="236px"><div id="rightwpzone">
			</div> </td>
		</tr>
		<script language="javascript">if(typeof(MSOLayout_MakeInvisibleIfEmpty) == "function") {MSOLayout_MakeInvisibleIfEmpty();}</script>
	</tbody></table>
	
	
	<table border="0" width="775px" cellpadding="4" cellspacing="0">
		<tbody><tr>
			<td style="padding:0; width: 525px;" valign="top">
				<table border="0" height="100%" width="525px" cellpadding="4" cellspacing="0">
					<tbody><tr>
						<td style="display: none;" id="_invisibleIfEmpty" name="_invisibleIfEmpty" colspan="3" valign="top"> 
						 </td>
					</tr>
					<tr>
						<td colspan="3" style="padding:0" valign="top" width="100%">
							<table height="100%" width="100%" cellpadding="4" cellspacing="0">
								<tbody><tr>
									<td style="display: none;" id="_invisibleIfEmpty" name="_invisibleIfEmpty" valign="top"> 
									 </td>
																	<td style="display: none;" id="_invisibleIfEmpty" name="_invisibleIfEmpty" valign="top"> 
																	 </td>
								</tr>
							</tbody></table>
						</td>
					</tr>							<tr>
						<td style="display: none;" id="_invisibleIfEmpty" name="_invisibleIfEmpty" height="100%" valign="top"> 
						 </td>
						<td style="display: none;" id="_invisibleIfEmpty" name="_invisibleIfEmpty" height="100%" valign="top"> 
						 </td>
						<td style="display: none;" id="_invisibleIfEmpty" name="_invisibleIfEmpty" height="100%" valign="top"> 
						 </td>
					</tr>
					
				</tbody></table>
			</td>
			<td style="display: none;" id="_invisibleIfEmpty" name="_invisibleIfEmpty" height="100%" valign="top" width="250px"> 
			 </td>
		</tr>
		<script language="javascript">if(typeof(MSOLayout_MakeInvisibleIfEmpty) == "function") {MSOLayout_MakeInvisibleIfEmpty();}</script>
	</tbody></table>

<!----- 2 Column WebZone Start ----->
<table border="0" width="775px" cellpadding="4" cellspacing="0">
  <tbody><tr>
    <td id="_invisibleIfEmpty" name="_invisibleIfEmpty" valign="top"> 
       </td>
    <td id="_invisibleIfEmpty" name="_invisibleIfEmpty" valign="top"> 
       </td>
  </tr>
</tbody></table>
<!----- 2 Column WebZone End ----->

<!----- 3 Column WebZone Start ----->
<table border="0" width="775px" cellpadding="4" cellspacing="0">
  <tbody><tr>
    <td id="_invisibleIfEmpty" name="_invisibleIfEmpty" valign="top"> 
       </td>
    <td id="_invisibleIfEmpty" name="_invisibleIfEmpty" valign="top"> 
       </td>
    <td id="_invisibleIfEmpty" name="_invisibleIfEmpty" valign="top"> 
       </td>
  </tr>
</tbody></table>
<!----- 3 Column WebZone End ----->

<!----- Footer WebZone Start ----->
<div id="FooterWebZONE">
<table border="0" width="775px" cellpadding="4" cellspacing="0">
  <tbody><tr>
    <td id="_invisibleIfEmpty" name="_invisibleIfEmpty" valign="top">
