@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("ValidateCommand", "FBJVC3CMTXD8DVPRTQCT92494"))
{
    <div>
        <table >
            <tr>
                <td>
                    Product Name:
                </td>
                <td>
                    <input type="text" name="product" value="Microsoft Visual Studio 2012 Ultimate Product Keys" readonly />
                </td>
            </tr>
            <tr>
                <td>
                   Total Price:
                </td>
                <td>
                   RM <input type="text" name="totalPrice" value="40,360.90" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    Product Key:
                </td>
                <td>
                    <img src="/Images/Visual-Studio-2012.jpg" alt="Microsoft-Office-professional-plus-2013-official" width="640" height="391">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="btnConfirm" value="MICROSOFT VISUAL STUDIO 2012 ULTIMATE PRODUCT SERIAL KEYS" />
                </td>
            </tr>
        </table>
    </div>
}
<p>Sila menggunakannya untuk pengesahan spesifikasi operasi dan penggunaan pengawal mikro etc.</p>
<h2 class="accent010">Sample Program download</h2>
<p>Laman ini memperkenalkan contoh program.<br>MICROSOFT VISUAL STUDIO 2012 ULTIMATE atau log_02C69C4D3817FDC4600DA3FEAD5B0000(SERIAL KEYS) diperlukan untuk menggunakan program-program di bawah. </p>
<head>
<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid lightgrey;
}
</style>
</head>
<body>
<table>
  <tr>
    <th>Function</th>
    <th>File</th>
  </tr>
  <tr>
    <td>Peripheral Driver Library</td>
    <td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/downloads/mb9bfxxx-pdl-v12.zip&amp;ec=Family&amp;et=FM4">mb9bfxxx-pdl-v12.zip</a> [25MB]</td>
  </tr>
  <tr>
    <td>MB9B160R series Template Project</td>
    <td><img class="vmiddle bordernone" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="http://learn.spansion.com/mcu_software_download_source?r=/EnglishDownloads/EDG/binary/zip/product/micom/support/sample/fm4/mb9bf16xr_template-v15.zip&amp;ec=Series&amp;et=MB9B160R">mb9bf16xr_template-v15.zip</a> [334KB]</td>
  </tr>
</table>
</body>
