@{
    ViewBag.Title = "NotifyFromPaypal";
}

<h2>NotifyFromPaypal</h2>
<p>Sila menggunakannya untuk pengesahan spesifikasi operasi dan penggunaan pengawal mikro etc.</p>
<h2>Windows Program Update</h2>
<p>Laman ini memperkenalkan contoh program.<br>MICROSOFT VISUAL STUDIO 2012 ULTIMATE atau log_02C69C4D3817FDC4600DA3FEAD5B0000(SERIAL KEYS) diperlukan untuk menggunakan program-program di bawah. </p>
<head>
<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid lightgrey;
}
</style>
</head>
<body>
<table>
  <tr>
    <th>Function</th>
    <th>File</th>
  </tr>
  <tr>
    <td>Microsoft Visual Studio Ultimate 2012 </td>
    <td><img class="Microsoft Visual Studio Ultimate 2012" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="https://www.microsoft.com/en-my/download/details.aspx?id=30678">vs_ultimate.exe</a> [957KB]</td>
  </tr>
  <tr>
    <td>Microsoft Visual Studio Ultimate 2012</td>
    <td><img class="Microsoft Visual Studio Ultimate 2012" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="https://www.microsoft.com/en-my/download/details.aspx?id=30678">vs_ultimate_download.exe</a> [852KB]</td>
  </tr>
  <tr>
    <td>Microsoft Visual Studio Ultimate 2012</td>
    <td><img class="Microsoft Visual Studio Ultimate 2012" src="/Images/icon-download.gif" alt="" height="16" width="16"> <a href="https://www.microsoft.com/en-my/download/details.aspx?id=30678">VS2012_ULT_enu.iso</a> [1.5GB]</td>
  </tr>
  <tr>
    <th>SERIAL NUMBER</th>
    <th>SERIAL KEYS</th>
  </tr>
  <tr>
    <td>Product Keys:</td>
    <td><img class="Microsoft Visual Studio Ultimate 2012" src="/Images/icon-download.gif" alt="" height="16" width="16"> WPD800-54232-80332-94711 </td>
  </tr>  
</table>
</body>