BODY
  {
   scrollbar-track-color : #ffffe8;
   scrollbar-shadow-color : #ffffe8;
   scrollbar-highlight-color : #ffffe7;
   scrollbar-face-color : #a0bcd1;
   scrollbar-darkshadow-color : #ffffe8;
   scrollbar-3dlight-color : #ffffe8;
   scrollbar-arrow-color : #ffffe8;
   background-color: #ffffe8;	
 }
A 
{
color: blue;	
text-decoration: none;
}
A:HOVER 
{
color: red;	
background-color: silver;	
}
