<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Webdesign</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/images/design_studio_template_1109/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="ie"></div>
<div id="wrapper">
  <ul id="nav">
    <li><a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/menu_1.gif" width="31" height="70" alt="home" /></a></li>
    <li><a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/menu_2.gif" width="31" height="70" alt="portfolio" /></a></li>
    <li><a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/menu_3.gif" width="31" height="70" alt="designs" /></a></li>
    <li><a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/menu_4.gif" width="31" height="70" alt="client" /></a></li>
    <li><a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/menu_5.gif" width="31" height="69" alt="contact" /></a></li>
  </ul>
  <h1><a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/logo.gif" width="135" height="30" alt="logo" /></a></h1>
  <div id="body">
    <div class="inner">
      <div id="content">
        <div>
          <h2>Content,</h2>
          <p>Please replace this text with the original one. Please replace this font with the customised one. please replase this font. This is demo text please replase this with your text.</p>
        </div>
      </div>
      <!-- end content -->
      <div id="page_title"> <img src="/images/design_studio_template_1109/title_main_page.gif" width="47" height="148" alt="main page" /> </div>
      <!-- end page_title -->
      <div id="news">
        <div>
          <div>
            <h2><img src="/images/design_studio_template_1109/title_latest_news.gif" width="78" height="5" alt="latest news" /></h2>
            <img src="/images/design_studio_template_1109/picture_3.jpg" width="96" height="56" alt="picture 3" />
            <p>05-20-2005</p>
            <p>This is a demo text please replase this text with the original one please replase this text.</p>
            <p class="readmore"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/btn_learn_more.gif" width="68" height="7" alt="learn more" /></a></p>
          </div>
        </div>
      </div>
      <!-- end news -->
      <div class="clear"></div>
    </div>
    <!-- end .inner -->
    <div id="footer"> <img src="/images/design_studio_template_1109/footer.gif" width="435" height="196" alt="tortoise" class="footer" /> <img src="/images/design_studio_template_1109/footer_ie.gif" width="435" height="196" alt="tortoise" class="footerie" /> </div>
    <!-- end footer -->
  </div>
  <!-- end body -->
  <div id="paper">
    <div class="inner">
      <h2><img src="/images/design_studio_template_1109/title_latest_designs.gif" width="90" height="5" alt="latest designs" /></h2>
      <a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/picture_1.jpg" width="130" height="74" alt="picture 1" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/btn_zoom.gif" width="130" height="22" alt="zoom in" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/picture_2.jpg" width="130" height="74" alt="picture 2" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/btn_zoom.gif" width="130" height="22" alt="zoom in" /></a>
      <p>This is a demo text please replase the text with the original one. Please replase the text.</p>
      <p class="readmore"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/design_studio_template_1109/btn_more.gif" width="52" height="6" alt="see more" /></a></p>
    </div>
    <!-- end .inner -->
  </div>
  <!-- end paper -->
</div>
<!-- end wrapper -->
<div style="clear:both;position:relative;display:block;margin-top:530px;" > Powered by <a href="http://www.freewebsitetemplates.com">Free Website Templates</a> </div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
