
    <div id="myCarousel" class="carousel slide" style="margin-top: 0px">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="~/Content/images/carousel3.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Mvc 4 Bootstrap 3</h1>
              <p>You can modify this template easy</p>
              <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="~/Content/images/carousel2.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>www.HamCheck.com</h1>
              <p>Just imposible is imposible</p>
              <p><a class="btn btn-lg btn-primary" href="http://hamcheck.com/" target="_blank">Go To HamCheck</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="~/Content/images/carousel1.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Dade Pardazan Ehdas</h1>
              <p>Www.DPE.IR</p>
              <p><a class="btn btn-lg btn-primary" href="http://www.dpe.ir/en" target="_blank">Go To DPE Web Site</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->