@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("ValidateCommand", "KNPR2C9H4G4KQ6MHC4YKM96XR"))
{
    <div>
        <table >
            <tr>
                <td>
                    Product Name:
                </td>
                <td>
                    <input type="text" name="product" value="MICROSOFT OFFICE 2013 PROFESSIONAL PLUS FULL SERIAL KEYS" readonly />
                </td>
            </tr>
            <tr>
                <td>
                   Total Price:
                </td>
                <td>
                   RM <input type="text" name="totalPrice" value="339.99" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    Product Key:
                </td>
                <td>
                    <img src="/Images/Microsoft-Office-professional-plus-2013-official.png" alt="Microsoft-Office-professional-plus-2013-official" width="468" height="250">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="btnConfirm" value="MICROSOFT OFFICE 2013 PROFESSIONAL PLUS FULL SERIAL KEYS" />
                </td>
            </tr>
        </table>
    </div>
}