<!--Footer start-->
<div class="footer">

<div class="footer-left"><img src="/Images/chella/images/footer-left.png" alt="" /></div>

<div class="footer-center">© 2012Mobile Theme</div>

<div class="footer-right"><a href="#"><img src="/Images/chella/images/footer-right.png" alt="" width="100" height="40" /></a></div>

</div>
<!--Footer End-->

</div>
</div>
<!--Wrapper End-->

</body>


</html>

