@model IEnumerable<MvcMusicStore.Models.Genre>
@{
    ViewBag.Title = "Store";
}
<a href="http://angel.exabytes.com.my/idevaffiliate.php?id=3203564_34_1_216" target="_blank"><img border="0" src="/Content/images/eseed-v3-468x60.jpg" width="468" height="60" alt=""></a>
<h3>Browse Genres</h3>

<p>
    Select from @Model.Count() genres:</p>
<ul>
    @foreach (var genre in Model)
    {
        <li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
    }
</ul>
