@model List<MvcMusicStore.Models.Blog>
@{
    ViewBag.Title = "ASP.NET MVC Music Store";
}
<div id="promotion">
</div>

<h3><em>Angel</em> <a href="http://angel.exabytes.com.my/idevaffiliate.php?id=3203564">Affiliate Program</a></h3>

<ul id="blog-list">
    @foreach (var blog in Model)
    {
        <li><a href="@Url.Action("Details", "Blog",
                new { id = blog.BlogId })">

            <img alt="@blog.Title" src="@blog.BlogArtUrl" />
            <body>
        <h1>Embedded Video Example</h1>
        <p>The following video provides an introduction to WebMatrix:</p>
        <iframe width="560" 
                height="315" 
                src="http://www.youtube.com/embed/fxCEcPxUbYA" 
                frameborder="0" 
                allowfullscreen></iframe>
</body>

            <span>@blog.Title</span> </a>
        </li>
    }
</ul>