@model IEnumerable<MvcMusicStore.Models.Genra>

<ul id="categories">
    @foreach (var genra in Model)
    {
        <li>@Html.ActionLink(genra.Name, 
                "Browse", "Acms", 
                new { Genra = genra.Name }, null)
        </li>
    }
</ul>