@model IEnumerable<MvcMusicStore.Models.Genru>
@{
    ViewBag.Title = "Acms";
}
<h3>Browso Genrus</h3>

<p>
    Select from @Model.Count() genrus:</p>
<ul>
    @foreach (var genru in Model)
    {
        <li>@Html.ActionLink(genru.Name, "Browso", new { genru = genru.Name })</li>
    }
</ul>
