@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("ValidateCommand", "PayPal"))
{
    <div>
        <table >
            <tr>
                <td>
                    Product Name:
                </td>
                <td>
                    <input type="text" name="product" value="Reclaiming Satu Jalan Asphalt (RM150)" readonly />
                </td>
            </tr>
            <tr>
                <td>
                   Total Price:
                </td>
                <td>
                    RM<input type="text" name="totalPrice" value="150" readonly />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="btnConfirm" value="Check Out with Paypal" />
                </td>
            </tr>
        </table>
    </div>
}