@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("PostToPaypal", "Paypal"))
{
    <div>
        <table >
            <tr>
                <td>
                    product Name:
                </td>
                <td>
                    <input type="text" name="product" value="APPHB STUDIO 2015 Express" readonly />
                </td>
            </tr>
            <tr>
                <td>
                   Total Price:
                </td>
                <td>
                    RM <input type="text" name="totalPrice" value="150.00" readonly />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="btnConfirm" value="Pay with Paypal" />
                </td>
            </tr>
        </table>
    </div>
}